.aboutus-main {
    margin-top: 50px;
    align-items: center;
}

.aboutus-title {
    padding: 0;
}

.aboutus-title h2 {
    margin: 20px 0px 20px 0px;
    font-family: monospace !important;
    font-size: 35px;
    text-transform: uppercase;
    color: #004953;
}


.aboutus-title p {
    line-height: 30px;
    font-family: monospace;
}

.aboutus-img img {
    width: 450px;
    justify-content: right;
}


@media only screen and (max-width: 600px) {

    .aboutus-title p {
        padding: 0 0px 0px 0px !important;
        line-height: 30px;
        font-family: monospace;

    }

}