.about-title {
    padding: 50px;
}

.about-title h2 {
    font-family: monospace !important;
    font-size: 35px;
    text-transform: uppercase;
    background: linear-gradient(to right, #3cb371 0%, #a3c1ad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-title p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0px 100px 0px 100px;
    margin-top: 20px;
}