.about-title {
    padding: 50px;
}

.about-title h2 {
    font-family: monospace !important;
    font-size: 35px;
    text-transform: uppercase;
    color: #004953;
}

.about-title p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0px 100px 0px 100px;
    margin-top: 20px;
}