.container {
    max-width: 1200px !important;
}

.nav-bg {
    background-color: #000036;
    box-shadow: 0px 3px #004953;

}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
}

.main-nav-active {
    color: tomato;
}