.blog-item {
    margin-top: 50px;
}

.blog-item h5 {
    margin-bottom: 50px;
    font-family: monospace !important;
    font-size: 35px;
    text-transform: uppercase;
    color: #004953;
}

.accordion-body {
    text-align: left !important;
}