.blog-item {
    margin-top: 100px;
}

.blog-item h5 {
    margin-bottom: 50px;
    font-family: monospace !important;
    font-size: 35px;
    text-transform: uppercase;
    background: linear-gradient(to right, #3cb371 0%, #a3c1ad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accordion-body {
    text-align: left !important;
}